$text-color: #30373B;
$success-color: #7AB55C;
$error-color: #C23628;
$border-color: #A7A7A7;
$btn-color: #FFFFFF;

$body-font-size: 13px;
$title-font-size: 32px;
$subtitle-font-size: 20px;
$form-font-size: 16px;

body{
  padding: 0 25%;
  text-align: center;
}
.reset-password{
  font-size: $body-font-size;
  .title{
  color: $text-color;
  font-size: $title-font-size;
  }
  .seperator{
  background-color: #4CAF50;
  width: 40px;
  height: 2px;
  border: none;
  }
  .subtitle{
    color: $text-color;
    font-size: $subtitle-font-size;
  }
}
.form{
  .label{
    float: left;
    font-size: $body-font-size;
    font-weight: 600;
  }
  .input-box{
    display: flex;
    height: auto;
    width: 100%;
    .email{
      flex: 1;
      float:left;
      height: 50px;
      font-size: $form-font-size;
      padding: 0 10px;
      border: 1px solid $border-color;
    }
    .submit{
      width: 30%;
      border: none;
      padding: 0;
      color: $btn-color;
      font-size: $form-font-size;
      background-color: #7ab55c;

    }
  }
  #msg{
    float: left;
    font-size: $form-font-size;
    color: $error-color;
  }
}
